<nav>
  <div class="navbar">
    <a href="http://localhost/wacdo-project/admin/utilisateur"
      >Gérer les utilisateurs</a
    >
    <a href="http://localhost/wacdo-project/admin/categorie"
      >Gérer les catégories</a
    >
    <a href="http://localhost/wacdo-project/admin/produit"
      >Gérer les produits</a
    >
    <a href="http://localhost/wacdo-project/admin/commande"
      >Gérer les commandes</a
    >
    <a
      class="prio_commande"
      href="http://localhost/wacdo-project/admin/deconnexion"
      >Deconnexion</a
    >
  </div>
</nav>

